<section id="home">


    <div class="home-content">
        <span class="title">
            Upload and Share your wallpapers with your friends
        </span>
        <div class="wallpapers-button-container">
            <div class="head-title">
                <span class="head-left-line head-line">
                </span>
                <span class="head-text">go to wallpapers</span>
                <span class="head-right-line head-line">
                </span>
            </div>
            <div class="button">
                <a href="#" class="button-link">Wallpapers</a>
            </div>
        </div>
    </div>
</section>
<footer>&copy; Copyright 2022</footer>