<section id="add-image">
    <div class="card">
        <form id="addImageForm" class="card-form">
        
            <div class="form-item form-item-file">
                <input style="display: none" type="file" class="file-input" id="file">
                <label for="file">Select an image</label>
                <span class="delete-icon">
                    <svg width="25" height="21" viewBox="0 0 25 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="icon-path" d="M2.375 2.0625V18.9375H22.625V5.4375H11.8081L8.42637 2.0625H2.375ZM1.53125 0.375H9.12163L12.5067 3.75H23.4688C23.6925 3.75 23.9071 3.83889 24.0654 3.99713C24.2236 4.15536 24.3125 4.36997 24.3125 4.59375V19.7812C24.3125 20.005 24.2236 20.2196 24.0654 20.3779C23.9071 20.5361 23.6925 20.625 23.4688 20.625H1.53125C1.30747 20.625 1.09286 20.5361 0.934629 20.3779C0.776395 20.2196 0.6875 20.005 0.6875 19.7812V1.21875C0.6875 0.994974 0.776395 0.780363 0.934629 0.622129C1.09286 0.463895 1.30747 0.375 1.53125 0.375V0.375ZM11.3069 12.1875L8.92081 9.80137L10.1139 8.60831L12.5 10.9944L14.8861 8.60831L16.0792 9.80137L13.6931 12.1875L16.0792 14.5736L14.8861 15.7667L12.5 13.3806L10.1139 15.7667L8.92081 14.5736L11.3069 12.1875Z" fill="#F24E1E"/>
                    </svg>    
                </span>
            </div>
            <div class="form-item form-item-submit">
                <button class="submit-button">Submit</button>
            </div>
            <div class="form-item form-item-message message-box"></div>
        </form>
    </div>

</section>