<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.cdnfonts.com/css/sansation" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="brand">
            <span class="brand-name">uploadIt</span>
            <span class="brand-owner">mezz</span>
        </div>
        <div class="nav-button">
            <span class="icon line-1"></span>
            <span class="icon line-2"></span>
            <span class="icon line-3"></span>
        </div>
        <nav class="nav">
            <ul class="nav-menu">
                <li class="nav-menu-item nav-menu-login">
                    <% if(!locals.isAuthenticated || !isAuthenticated){ %>
                        <div class="sec-login">
                            <a href="/auth/login" class="login-link-container">
                                <span class="login-icon">
                                    <svg width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.05 23.1816C24.6124 23.1816 24.1927 23.0077 23.8833 22.6983C23.5739 22.3889 23.4 21.9692 23.4 21.5316L23.4 1.73158C23.4 1.29397 23.5738 0.874285 23.8833 0.564849C24.1927 0.255414 24.6124 0.0815768 25.05 0.0815767C25.4876 0.0815767 25.9073 0.255414 26.2167 0.564849C26.5262 0.874284 26.7 1.29397 26.7 1.73158L26.7 21.5316C26.7 21.9692 26.5262 22.3889 26.2167 22.6983C25.9073 23.0077 25.4876 23.1816 25.05 23.1816V23.1816ZM12.3335 17.7481C12.0241 17.4387 11.8504 17.0191 11.8504 16.5816C11.8504 16.1441 12.0241 15.7245 12.3335 15.415L14.4669 13.2816L1.95001 13.2816C1.5124 13.2816 1.09272 13.1077 0.783282 12.7983C0.473847 12.4889 0.30001 12.0692 0.30001 11.6316C0.30001 11.194 0.473847 10.7743 0.783282 10.4649C1.09272 10.1554 1.5124 9.98158 1.95001 9.98158L14.4669 9.98158L12.3335 7.84813C12.0329 7.53693 11.8666 7.12014 11.8703 6.68752C11.8741 6.25489 12.0476 5.84105 12.3536 5.53513C12.6595 5.2292 13.0733 5.05568 13.5059 5.05192C13.9386 5.04816 14.3554 5.21447 14.6666 5.51503L19.6166 10.465C19.9259 10.7744 20.0997 11.1941 20.0997 11.6316C20.0997 12.0691 19.9259 12.4887 19.6166 12.7981L14.6666 17.7481C14.3571 18.0575 13.9375 18.2312 13.5 18.2312C13.0625 18.2312 12.6429 18.0575 12.3335 17.7481V17.7481Z" fill="#FC78FF"/>
                                    </svg>       
                                </span>
                                <span class="login-text">Login</span>
                            </a>
                        </div>
                    <% }else{ %>
                        <div class="sec-user">
                            <a href="/dashboard">
                                <span class="user-icon">
                                    <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M34 16.983C34 7.6075 26.384 0 17 0C7.616 0 0 7.6075 0 16.983C0 22.1468 2.346 26.8005 6.018 29.9242C6.052 29.9582 6.086 29.9583 6.086 29.9923C6.392 30.2303 6.698 30.4682 7.038 30.7062C7.208 30.8082 7.344 30.9421 7.514 31.0781C10.3234 32.9829 13.6398 34.0008 17.034 34C20.4282 34.0008 23.7446 32.9829 26.554 31.0781C26.724 30.9761 26.86 30.8423 27.03 30.7381C27.336 30.5023 27.676 30.2643 27.982 30.0263C28.016 29.9923 28.05 29.9922 28.05 29.9582C31.654 26.7984 34 22.1468 34 16.983V16.983ZM17 31.8601C13.804 31.8601 10.88 30.8401 8.466 29.1422C8.5 28.8702 8.568 28.6004 8.636 28.3284C8.83859 27.5912 9.13573 26.8834 9.52 26.2225C9.894 25.5765 10.336 24.9985 10.88 24.4885C11.39 23.9785 12.002 23.5046 12.614 23.1306C13.26 22.7566 13.94 22.4846 14.688 22.2806C15.4418 22.0774 16.2193 21.9753 17 21.9768C19.3176 21.9603 21.5501 22.8494 23.222 24.4545C24.004 25.2365 24.616 26.1545 25.058 27.2064C25.296 27.8184 25.466 28.4644 25.568 29.1422C23.0588 30.9063 20.0673 31.8553 17 31.8601ZM11.798 16.1351C11.4984 15.4492 11.3478 14.7076 11.356 13.9591C11.356 13.2132 11.492 12.4652 11.798 11.7853C12.104 11.1053 12.512 10.4954 13.022 9.98537C13.532 9.47537 14.144 9.0695 14.824 8.7635C15.504 8.4575 16.252 8.3215 17 8.3215C17.782 8.3215 18.496 8.4575 19.176 8.7635C19.856 9.0695 20.468 9.4775 20.978 9.98537C21.488 10.4954 21.896 11.1074 22.202 11.7853C22.508 12.4652 22.644 13.2132 22.644 13.9591C22.644 14.7411 22.508 15.4551 22.202 16.133C21.9067 16.8029 21.4919 17.4136 20.978 17.935C20.4564 18.4482 19.8458 18.8622 19.176 19.1569C17.771 19.7343 16.195 19.7343 14.79 19.1569C14.1202 18.8622 13.5096 18.4482 12.988 17.935C12.4734 17.4211 12.0685 16.8081 11.798 16.133V16.1351ZM27.574 27.4104C27.574 27.3424 27.54 27.3084 27.54 27.2404C27.2056 26.1766 26.7127 25.1694 26.078 24.2526C25.4427 23.3291 24.6619 22.5145 23.766 21.8407C23.0818 21.326 22.3402 20.8925 21.556 20.5488C21.9127 20.3134 22.2433 20.0406 22.542 19.7349C23.0489 19.2344 23.4941 18.6751 23.868 18.0689C24.621 16.8317 25.0099 15.4073 24.99 13.9591C25.0005 12.8871 24.7923 11.8242 24.378 10.8354C23.969 9.88261 23.3803 9.01756 22.644 8.2875C21.9088 7.56507 21.0436 6.98825 20.094 6.5875C19.1035 6.17396 18.0393 5.96645 16.966 5.97762C15.8926 5.96713 14.8283 6.17536 13.838 6.58963C12.8802 6.98952 12.0129 7.57857 11.288 8.3215C10.5656 9.05587 9.98876 9.92039 9.588 10.8694C9.17373 11.8582 8.96548 12.9211 8.976 13.9931C8.976 14.7411 9.078 15.4551 9.282 16.133C9.486 16.847 9.758 17.493 10.132 18.1029C10.472 18.7149 10.948 19.2589 11.458 19.7689C11.764 20.0749 12.104 20.3447 12.478 20.5827C11.6914 20.9356 10.9495 21.3808 10.268 21.9088C9.384 22.5888 8.602 23.4026 7.956 24.2866C7.3148 25.1996 6.82142 26.2079 6.494 27.2744C6.46 27.3424 6.46 27.4104 6.46 27.4444C3.774 24.7265 2.108 21.0588 2.108 16.983C2.108 8.7975 8.806 2.10587 17 2.10587C25.194 2.10587 31.892 8.7975 31.892 16.983C31.8876 20.8929 30.3351 24.642 27.574 27.4104V27.4104Z" fill="#FC78FF"/>
                                    </svg>
                                </span>
                            </a>
                            <span class="user-username"><%= locals.user ? user.username : username %></span>
                        </div>
                    <% } %> 
                </li>
                <li class="nav-menu-item"><a class="nav-menu-link" href="#">Wallpapers</a></li>
                <li class="nav-menu-item" id="active" ><a class="nav-menu-link" href="/">Home</a></li>

            </ul>
        </nav>
    </header>
    <main>