

<section id="register">

    <div class="card">

        <form id="loginForm" class="card-form">
            <div class="form-item form-item-title">
                <h2>Login</h2>
            </div>
            <div class="form-item form-item-input">
                <input class="input" type="email" name="emailAddress"">
                <span class="border-solid"></span>
                <span class="placeholder">Email Address</span>
            </div>
            <div class="form-item form-item-input">
                <input class="input" type="password" name="password">
                <span class="border-solid"></span>
                <span class="placeholder password">Password</span>
            </div>

            <div class="form-item form-item-button">
                <button type="submit">Submit</button>
            </div>






            <div class="form-item form-item-message message-box"></div>
        </form>


        <div class="card-footer">
            Don't have an account <a class="link" href="/auth/register">Register</a>
        </div>
    </div>

</section>










